<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Calistoga&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Recipe Viewer</title>
</head>
<body id="single-recipe-body">
    <h1 id="single-recipe-title"> <%= recipe.name %> </h1>
    
        <h3 class="single-recipe-text">Ingredients:</h3>
        <textarea readonly class="single-recipe-text" cols="30" rows="10"> <%= recipe.ingredients %> </textarea>
        <h3 class="single-recipe-text">Cooking Instructions:</h3>
        <textarea readonly class="single-recipe-text" cols="30" rows="10"> <%= recipe.instructions %> </textarea>
        <br>
        <p class="single-recipe-text"><strong><u>Type of Cuisine:</u></strong> <%= recipe.cuisine %> </p>

    <div id="single-recipe-icon-div">
        <p class="icon-pointer-text" style="display: inline;">Click here to edit this recipe →</p>
        <i id="edit-recipe-icon" class="fa-solid fa-wrench icon-buttons" onclick="window.location.href='http://localhost:5467/recipes/<%=recipe.id%>/updateRecipe'"></i>
    </div>
    <br><br>

    <button id="delete_button" onclick="deleteRecipe(<%= recipe.id %>)">Delete This Recipe!</button>

    <script src="/deleteRecipe.js"></script>
    
</body>
</html>